body {
    color: #28292b;
    font-size: 1em;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(243,208,208)
}


.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#page-wrap {
    width: 750px;
    height: 500px;
    margin: auto;
    padding: 20px;
    background: white;
    overflow: auto;
}

.linkbox {
    float: right;
    height: 1000px;
}

.p {
    margin: 10 10 100px 50;
    float: right;

}

.clear {
    clear: both;
}  

.topnav {
    overflow: hidden;
    background-color: #4aaaa5;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #6ae6df;
    color: #4aaaa5;
  }
  
  .topnav a.active {
    background-color: #2f8580;
    color: white;
  }


footer {
    height: 20px;
    background-color: #666666;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;


}

#bio {
    width: 500px;
    float: left;
}

img {
    max-width: 35%;
    float: right;
    padding-left: 10px;
    margin: 10px;
}

section {
    float:left;
}

.gallery {
    margin:5px;
    border: 1px solid #ccc;
    float:auto;
    width:180;
}
div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
}
